
h2 {
    
    text-align: center;
    font-family: 'Racing Sans One', cursive;
    font-size: 36px
                
}

body{
    background-color: #ffffff
}


.mygrid {
    margin-left: auto; 
    margin-right: auto;
}

.mygrid-style1 {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:4px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color: #bfbfbf ;
}

.mygrid-style2 {
    border-bottom-color: transparent;
    padding:8px
}



