
header {
    background-color: #ffffff;
/*    background-color: #f5f5f5;*/
    }

.head {
    box-shadow: 0 3px 8px rgba(0,0,0,0.1), 0 3px 8px rgba(0,0,0,0.1);
    }



footer {
    background-color: #ffffff;
    }

.foot {
    box-shadow: 0 3px 8px rgba(0,0,0,0.1), 0 3px 8px rgba(0,0,0,0.1);
    }


h2 {
    color: #1d3459;
    text-align: center;
    font-family: 'Racing Sans One', cursive;
    font-size: 36px
    }

h3 {
    color: #1d3459;
    text-align: center;
    font-family: 'Racing Sans One', cursive;
    font-size: 26px
    }

body{
    background-color: #ffffff
    }


.mygrid {
    margin-left: auto; 
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2), 0 3px 8px rgba(0,0,0,0.23);
    }

.mygrid-style1 {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:4px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color: #bfbfbf ;
    }

.mygrid-style2 {
    border-bottom-color: transparent;
    padding:8px
    }

.tooltip {
    position: static;
    display: inline-block;
    }

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 300px;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 2px;

/* Position the tooltip */
    z-index: 1;
/*
    opacity: 0;
    transition: opacity .6s;
*/
    }

.tooltip:hover .tooltiptext {
  visibility: visible;
    }



